body{
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #4f4f4f;
  box-sizing: border-box;
  color: #ffffff;
}

h1 {
  font-size: 60px;
  padding: 16px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
  padding-top: 8px;
}

h4{
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

li {
  cursor: pointer;
}

.delete-btn {
  display: none;
  color: orangered;
  border: 1px solid orangered;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
  font-size: 14px;
  background-color: lightgray;
}

li:hover {
  background-color: rgb(10, 66, 101);
}

li:hover .delete-btn {
  display: inline-block;
}

.delete-btn:hover {
  transform: scale(1.1);
}

p {
  font-size: 12px;
}

#navbar{
  margin: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cities-wrapper {
  text-align: right;
  overflow: scroll;
}

.cities-btn,
#button {
  font-size: 14px;
  background-color: rgb(41, 138, 198);
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  padding: 2px;
  cursor: pointer;
}

#city-list {
  display: none;
  position: absolute;
  right: 16px;
  background-color:rgb(41, 138, 198);
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  max-height: 450px;
  min-width: 150px;
  font-size: 18px;
  z-index: 1;
  overflow: scroll;
}

.cities-wrapper:hover #city-list,
#city-list:hover {
  display: block;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 352px;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-size: cover;
  text-shadow: 1px 1px 4px #000000;
}

#current-weather-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forecast-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.5em;
}

.forecast-card {
  display: block;
  margin: 0 1.5em;
}

.weather-wrapper {
  float: right;
  text-align: center;
}

#current-uv {
  width: 200px;
  text-align: center;
}

.uv-low {
  background-color: greenyellow;
}

.uv-mid{
  background-color: orange;
}

.uv-high{
  background-color: orangered;
}

.footer {
  margin-top: 10px;
  text-align: center;
}

.footer a,
.footer a:active {
  color: white;
  text-decoration: none;
}

@media (min-width: 768px){

  .forecast-wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }

  .forecast-card {
    width: 20%;
    margin: 0;
    padding: 10px;
  }

  .forecast-card:nth-child(odd) {
    background-color: rgb(41, 138, 198);
  }

  .forecast-card:nth-child(even) {
    background-color: rgb(10, 66, 101);
  }

}

@media (min-width: 992px) {

  body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  #navbar {
    width: 20%;
    height: 518px;
    display: flex;
    flex-direction: column;
    background-color:  rgb(41, 138, 198);
    justify-content: flex-start;
    align-items: flex-end;
  }


  .main-wrapper {
    width: 80%;
    margin: 16px;
    height: 552px;
  }

  .cities-wrapper {
    max-height: inherit;
    overflow: scroll;
    width: 100%;
  }

  #city-list {
    display: block;
    position: static;
    padding-top: 0;
    font-size: 20px;
    box-shadow: none;
    max-height: inherit;
  }

  .cities-btn {
    border: none;
    background-color: rgb(41, 138, 198);
    padding-right: 10px;
    text-decoration: underline;
    cursor: none;
  }

  #button {
    border: none;
    background-color: rgb(41, 138, 198);
  }

}